# Herramientas de build actualizadas (para evitar errores de instalación)
pip==23.3.2
setuptools==68.2.2
wheel==0.42.0

# Dependencias de Rasa
rasa==3.6.14
rasa-sdk==3.6.2
tensorflow==2.12.0
numpy==1.23.5
scipy==1.10.1
pydantic==1.10.9
aiohttp==3.8.5
requests==2.31.0
cachecontrol==0.12.14
sklearn-crfsuite==0.3.6
python-socketio==5.8.0
uvicorn==0.22.0